@import "../../../_VariableStyle/VariableStyle";

.RecentlyLoginText
{
  width: 38.5%;
  height: 1vw;
  position: relative;
  left: 5vw;
  color: #707070;
  font-size: 1vw;

  @include flex(flex-start , center , row);

.RecentlySpinner
  {
    width: 30px;
    margin-left: .5rem;
  }
}

.LoginRecently::-webkit-scrollbar
{
  display: none;
}

#DragCursor
{
  cursor: grabbing;
  transform: scale(1.1);
  transition: .2s;
}

.LoginRecently
{
  width: 41.5%;
  height: 15rem;
  position: relative;
  cursor: grab;
  transition: .2s;
  overflow: {
    x : scroll;
    y: hidden;
  };


  @include flex(flex-start , center , row);

  .Card
  {
    width: 12rem;
    height : 15rem;
    box-sizing: border-box;
    margin: auto;
    @include margin-padding-Four-property(0 , 1rem , 0 , 0);
    @include flex(flex-start , center, column);


    .Avatar
    {
      width: 180px;

      background-color: #98e8de;
      border: none;
      outline: none;
      @include border-one-property(100%)
    }

    .Name
    {
      width: 100%;
      color: #4b4b4b;
      font: {
        weight: bold;
      };

      cursor: pointer;
      text-align: center;
      transition: .3s;
      @include margin-padding-Four-property( .5vw , 0 , 0 , 0);

      &:hover
      {
        transition: .3s;
        color: #245dd0;
      }
    }

    .RemoveRecently
    {
      color: #707070;
      font: {
        size: .8vw;
        weight: bold;
      };
      cursor: pointer;
      transition: .3s;
      @include margin-padding-Four-property( .5vw , 0 , 0 , 0);

      &:hover
      {
        transition: .3s;
        color: #ff3737;
      }
    }
  }
}

.LoginRecentlyForOnePerson
{
  width: 45%;
  height: 100%;
  cursor: auto;

  @extend .LoginRecently;
  @include flex(center , center , column);

  .Card
  {
    width: 100%;
    height : 100%;
    background-color: transparent;
    box-shadow: none;
    margin: auto;
  }

  .Name
  {
    font-size: 1.2vw;
  }

  .Avatar
  {
    width: 11vw !important;
    height: 11vw !important;
  }

  .RemoveRecently
  {
    margin-top: .2vw!important;
  }
}



.WellcomeMessage
{
  width: 80%;
  height: auto;
  box-sizing: border-box;
  @include border-one-property(10px);
  @include flex(flex-start , center , column);


  .UserLogo
  {
    width: 30%;

    margin-bottom: 1rem;
  }

  .WellcomeText
  {
    color: #707070;
    font-size: .8vmax;
    @include margin-padding-Four-property(0 , 0 ,0 ,0)
  }
}

