@import "../../_VariableStyle/VariableStyle";

.TypewriterANDPeopleImage
{
  width: 67%;
  @include flex(space-between , center ,row);


  .Typewrite
  {
    z-index: 1000;
    width: 30vw;
    color: #484848;
    font: {
      size: 2.5vw;
      weight: bold;
    };

    @include margin-padding-Four-property(0 , 0 , 5vw , 0);

  }

  .PeopleImage
  {
    z-index: 1000;
    width: 50%;
    position: relative;

  }

  .DarkTypewrite
  {
    @extend .Typewrite;
    color: #cccaca;
  }

}