@import "../../_VariableStyle/VariableStyle";

.TypewriterANDPeopleImage
{
  width: 67%;
  @include flex(space-between , center ,row);




  .Typewrite
  {
    z-index: 1000;
    width: 30rem;
    color: #757575;

    font: {
      size: 45px;
      weight: bold;
    };

    @include margin-padding-Four-property(0 , 0 , 5rem , 0);

  }

  .PeopleImage
  {
    z-index: 1000;
    width: 500px;
    position: relative;

  }

}