@import "../../_VariableStyle/VariableStyle";

.SignUpPage
{
  max-width: 90%;
  height: 39vw;
  margin: .5vw auto 0 auto;
  box-shadow: 0 0 0.781vw 0 rgba(0,0,0,0.20);
  @include flex(center , flex-start , row);
  .SignUpForm
  {
    width: 35%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    @include margin-padding-Two-property(1.9vw, 3vw, false);
    @include flex(center, flex-start, column);
  }
}
.ErrorText
{
  font-size: 12px;
  color: #4b4b4b;
  margin: .2vw 0;
  b {color: #de3232;}
}
.RedBorder
{
  border: 1px solid #de3232 !important;
}





