@import "../_VariableStyle/VariableStyle";


.LoginPanel
{
  width: $LoginPanel-Width;
  height: $LoginPanel-Height;
  background-color: $LoginPanel-Color;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20);;
  box-sizing: border-box;
  float: right;

  @include border-one-property(10px);
  @include margin-padding-Two-property(2rem , 2rem , false);

  .Title
  {
    @include margin-padding-Two-property(.5rem , 0);

    font: {
      size: 30px;
      weight: bold;
    };
  }

  .Alert
  {
    @include margin-padding-Two-property(1rem , 0);
    color: rgba(91, 91, 91, 0.55);
    font-weight: bold;
  }

  .Summary
  {
    @include margin-padding-Two-property(1rem , 0);;
    font:
    {
      size: 13px;
      weight: bold;
    };
    color: #939393;
    line-height: 1.2rem;
  }


  form
  {
    @include flex(center , center , column);

    input
    {
      width: $LoginPanel-Input-Width;
      height: $LoginPanel-Input-Hight;
      background-color: $LoginPanel-Input-color;
      box-sizing: border-box;
      outline: none;
      border: none;

      @include border-one-property(5px);
      @include margin-padding-one-property(.5rem , false);
      @include margin-padding-Two-property(.5rem , 0)
    }

    .WrongAlert
    {
      font:
      {
        size: 13px;
      };
      color: #ff7676;
    }

    .LoginButton
    {
      width: $LoginPanel-Button-Width;
      height: $LoginPanel-Button-Hight;
      background-color: $LoginPanel-Button-color;

      font: {
        size: $LoginPanel-Button-fontSize;
      };
      color: white;
      outline: none;
      border: none;

      @include border-one-property(5px)
    }

    .CreateButton
    {
      width: 90%;
      background-color: #79a940;

      @extend .LoginButton ;

      @include margin-padding-Two-property( 0rem , 0)
    }


    .ForgotPassword
    {
      @include margin-padding-Two-property(1rem , 0);;
      font:
      {
        size: 13px;
      };
    }

  }
}