@import "../../_VariableStyle/VariableStyle";


.UpperText
{
  width: 38.5%;
  position: relative;
  left: 11%;
  color: #4b4b4b;
}

.LoginRecently::-webkit-scrollbar
{
  display: none;
}

.LoginRecently
{
  width: 38.5%;
  height: 15rem;
  position: relative;
  left: 10%;
  overflow: {
    x : scroll;
    y: hidden;
  };

  @include margin-padding-Four-property(1.5rem , 0 , 0 , 0);
  @include flex(flex-start , center , row);


  .Card
  {
    width: 10rem;
    height : 14rem;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 6px -3px #a8a8a8;

    @include flex(center , center, column);
    @include border-one-property(10px);
    @include margin-padding-one-property(1rem , false);
    @include margin-padding-Two-property(0 , 1rem);

    .Avatar
    {
      width: 120px;
      height: 120px;
      background-color: #98e8de;
      border: none;
      outline: none;
      @include border-one-property(100px)
    }

    .Name
    {
      color: #4b4b4b;
      font: {
        weight: bold;
      };
      @include margin-padding-Four-property( .5rem , 0 , 0 , 0)
    }

    .Activity
    {
      color: #707070;
      font: {
        size: 13px;
        weight: bold;
      };
      @include margin-padding-Four-property( .3rem , 0 , 0 , 0)
    }

  }
}