@import "../../_VariableStyle/VariableStyle";


.SiginPage
{
  width: 90%;
  height: 47rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.20);
  @include flex(center , flex-start , row)

}



.SiginForms
{
  width: 35%;
  height: 100%;
  background-color: $Sigin-Color;
  box-sizing: border-box;
  @include margin-padding-Two-property(5em , 5rem , false);

  .Title
  {
    @include margin-padding-Two-property(.5rem , 0);
    font: {
      size: 30px;
      weight: bold;
    };
  }
  .Alert
  {
    @include margin-padding-Two-property(1rem , 0);
    color: rgba(91, 91, 91, 0.55);
    font-weight: bold;
  }

  input[type = text]
  {
    width: $Sigin-Input-Width;
    height: $Sigin-Input-Hight;
    background-color: $Sigin-Input-color;
    box-sizing: border-box;
    outline: none;
    border: none;

    @include margin-padding-one-property(.5rem , false);
    @include margin-padding-Two-property(.5rem , 0)
  }


  form
  {
    @include flex(center , flex-start , column);
    .NameInfo
    {
      width: 100%;
      @include flex(space-between , center , row);
      input
      {
        width: 49%;
      }
    }

    .CorrectInfo
    {
      font-size: small;
      color: #4b4b4b;
      b{
        color: #de3232;
      }
    }

    .BrithdayInfo
    {
      width: 100%;
      .Birthday
      {
        font-size: 13px;
        font-weight: bold;
        color: #b7b7b7;
        @include margin-padding-Two-property( .5rem , 0)
      }

      .Options
      {
        @include flex(space-between , center , row);
        @include margin-padding-Two-property(.5rem , 0);

        select
        {
          width: 30%;
          height: 2rem;
          border: 1px solid rgba(75, 75, 75, 0.45);
          box-sizing: border-box;
          outline: none;
          font-size: 15px;
          @include margin-padding-one-property(5px , false);


          option
          {
            font-size: 18px;
          }
        }
      }
    }

    .GenderInfo
    {
      width: 100%;
      .Gender
      {
        font-size: 13px;
        font-weight: bold;
        color: #b7b7b7;
        @include margin-padding-Two-property( .5rem , 0)
      }

      .RadioInput
      {
        width: 100%;
        @include flex(space-between, center , row);

        section
        {
          width: 30%;
          height: 2rem;
          border: 1px solid rgba(75, 75, 75, 0.45);
          font-size: 15px;
          box-sizing: border-box;
          @include margin-padding-one-property(.5rem , false);
          @include flex(space-between, center , row);
          input[type = radio]
          {
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    .Summary
    {
      @include margin-padding-Two-property(1rem , 0);;
      font:
      {
        size: 13px;
        weight: bold;
      };
      color: #939393;
      line-height: 1.2rem;
    }


    .SiginButton
    {
      width: $LoginPanel-Button-Width;
      height: $LoginPanel-Button-Hight;
      background-color: #79a940;

      font: {
        size: $LoginPanel-Button-fontSize;
      };
      color: white;
      outline: none;
      border: none;

      @include margin-padding-Two-property(.5rem , 0);

    }

    .ForgotPassword
    {
      @include margin-padding-Two-property(1rem , 0);;
      font:
      {
        size: 13px;
      };
    }
  }
}

.Dark_SiginForms {
  @extend .SiginForms;
  background-color: #262525;
  .Title {
    color: #eceff1;
  }
  .Alert {
    color: #b7b7b7;
    font-weight: lighter;
  }
  input[type = text] {
    background-color:  #0e0e0e;
    color: #eceff1;
  }
  form {
    .NameInfo {
      input {
        background-color:  #0e0e0e;
        color: #eceff1;
      }
    }

    .Dark_CorrectInfo
    {
      @extend .CorrectInfo;
      color: #b7b7b7;
      b{
        color: #f44336;
        font-weight: lighter;
      }
    }


    .Options {
      select {
        background-color:  #0e0e0e;
        color: #eceff1;



        option {
          color: #eceff1;
        }
      }
    }
  }
}

.Dark_GenderInfo
{

  @extend .GenderInfo;

  .Gender
  {
  }

  .RadioInput
  {

    section
    {
      background-color: #0e0e0e;
      color: #eceff1;
      border: transparent!important;
      input[type = radio]
      {

      }
    }
  }
}