@import "../../_VariableStyle/VariableStyle";

.FlexSignPage
{
  width: 100%;
  height: 100vh;

  @include flex(space-between , center , column)
}


.SiginPage
{
  width: 90%;
  height: 39vw;
  box-shadow: 0 0 0.781vw 0 rgba(0,0,0,0.20);

  @include flex(center , flex-start , row);
}


.SiginForms
{
  width: 35%;
  height: 100%;
  background-color: $Sigin-Color;
  box-sizing: border-box;
  @include margin-padding-Two-property(3.4vw , 4vw , false);

  .Title
  {
    @include margin-padding-Two-property(.4vw , 0);
    font: {
      size: 1.5vw;
      weight: bold;
    };
  }
  .Alert
  {
    @include margin-padding-Two-property(.9vw , 0);
    color: rgba(91, 91, 91, 0.55);
    font-weight: bold;
    font-size: .9vw;
  }

  input[type = text]
  {
    width: 100%;
    height: 2.2vw;
    background-color: $Sigin-Input-color;
    font-size: .7vw;
    box-sizing: border-box;
    outline: none;
    border: none;

    @include margin-padding-one-property(.4vw , false);
    @include margin-padding-Two-property(.4vw , 0)
  }


  form
  {
    @include flex(center , flex-start , column);
    .NameInfo
    {
      width: 100%;
      @include flex(space-between , center , row);
      input
      {
        width: 49%;
      }
    }

    .CorrectInfo
    {
      font-size: .69vw;
      color: #4b4b4b;
      b{
        color: #de3232;
      }
    }

    .BrithdayInfo
    {
      width: 100%;
      .Birthday
      {
        font-size: .7vw;
        font-weight: bold;
        color: #b7b7b7;
        @include margin-padding-Two-property( .5vw , 0)
      }

      .Options
      {
        @include flex(space-between , center , row);
        @include margin-padding-Two-property(.5vw , 0);

        select
        {
          width: 30%;
          height: 1.6vw;
          border: .1vw solid rgba(75, 75, 75, 0.45);
          box-sizing: border-box;
          outline: none;
          font-size: .8vw;
          @include margin-padding-one-property(0.260vw , false);


          option
          {
            font-size: 1vw;
          }
        }
      }
    }

    .GenderInfo
    {
      width: 100%;
      .Gender
      {
        font-size: .7vw;
        font-weight: bold;
        color: #b7b7b7;
        @include margin-padding-Two-property( .5vw , 0)
      }

      .RadioInput
      {
        width: 100%;
        @include flex(space-between, center , row);

        section
        {
          width: 30%;
          height: 1.6vw;
          border: .1vw solid rgba(75, 75, 75, 0.45);
          font-size: .8vw;
          box-sizing: border-box;
          @include margin-padding-one-property(.5vw , false);
          @include flex(space-between, center , row);
          input[type = radio]
          {
            width: .7vw;
            height: .7vw;
          }
        }
      }
    }

    .Summary
    {
      @include margin-padding-Two-property(.8vw , 0);;
      font:
      {
        size: .7vw;
        weight: bold;
      };
      color: #939393;
      line-height: 1.1vw;
    }


    .SiginButton
    {
      width: 100%;
      height: 2.2vw;
      background-color: #79a940;

      font: {
        size: .9vw;
      };
      color: white;
      outline: none;
      border: none;

      @include margin-padding-Two-property(.4vw , 0);

    }

    .ForgotPassword
    {
      @include margin-padding-Two-property(1rem , 0);;
      font:
      {
        size: 13px;
      };
    }
  }
}

.Dark_SiginForms {
  @extend .SiginForms;
  background-color: #262525;
  .Title {
    color: #eceff1;
  }
  .Alert {
    color: #b7b7b7;
    font-weight: lighter;
  }
  input[type = text] {
    background-color:  #0e0e0e;
    color: #eceff1;
  }
  form {
    .NameInfo {
      input {
        background-color:  #0e0e0e;
        color: #eceff1;
      }
    }

    .Dark_CorrectInfo
    {
      @extend .CorrectInfo;
      color: #b7b7b7;
      b{
        color: #f44336;
        font-weight: lighter;
      }
    }


    .Options {
      select {
        background-color:  #0e0e0e;
        color: #eceff1;



        option {
          color: #eceff1;
        }
      }
    }
  }
}

.Dark_GenderInfo
{

  @extend .GenderInfo;

  .Gender
  {
  }

  .RadioInput
  {

    section
    {
      background-color: #0e0e0e;
      color: #eceff1;
      border: transparent!important;
      input[type = radio]
      {

      }
    }
  }
}