@import "../../_VariableStyle/VariableStyle";

.LoginForm
{
  width: 28%;
  height: 33vw;
  background-color: $LoginPanel-Color;
  z-index: 1000;
  box-sizing: border-box;
  @include margin-padding-Two-property(1.5vw , 1.5vw , false);

  .Title
  {
    @include margin-padding-Two-property(.5vw , 0);

    font: {
      size: 1.5vw;
      weight: bold;
    };
  }

  .Alert
  {
    @include margin-padding-Two-property(1vw , 0);
    font-size: .8vw;
    color: $LoginPanel-AlertColor;
    font-weight: bold;
  }

  .Summary
  {
    @include margin-padding-Two-property(.7vw , 0);
    font:
    {
      size: .7vw;
      weight: bold;
    }
    color: $LoginPanel-Summary-Color;
    line-height: 1vw;
  }


  form
  {
    @include flex(center , center , column);
    input
    {
      width: $LoginPanel-Input-Width;
      height: 2.3vw;
      font-size: .7vw;
      background-color: $LoginPanel-Input-color;
      box-sizing: $LoginPanel-Input-boxSizing;
      outline: none;
      border: none;


      @include margin-padding-one-property(.5vw , false);
      @include margin-padding-Two-property(.5vw , 0)
    }

    .WrongAlert
    {
      font-size: .7vw;
    ;
      color: $LoginPanel-WrongAlert-Color;
    }

    .LoginButton
    {
      width: $LoginPanel-Button-Width;
      height: 2.2vw;
      background-color: $LoginPanel-Button-color;
      font-size: .9vw;
      color: $LoginPanel-Button-FontColor;
      outline: none;
      border: none;

    }

    .CreateButton
    {
      width: $LoginPanel-CreatButton-Width;
      background-color: $LoginPanel-CreatButton-Color;
      cursor: pointer;
      @extend .LoginButton ;
    }


    .ForgotPassword
    {
      font-size: .7vw ;

      @include margin-padding-Two-property(1vw , 0);
    }
  }
}

.DarkLoginForm
{
  @extend .LoginForm;
  background-color: #262525;


  .Title
  {
    color: #eceff1;
  }

  .Alert
  {
    color: #b6b6b6;;
    font-weight: normal;
  }

  .Summary
  {
    font:
    {
      weight: normal;
    }
    color: #eceff1;
  }

  form {
    @include flex(center, center, column);

    input {
      background-color: #0e0e0e;
    }

    .ForgotPassword
    {
      color: #eceff1;
    }
  }
}