@import "../../_VariableStyle/VariableStyle";

.ParentLoginPage
{
  width: 100%;
  height: 100vh;
  background-color: #e7eefd;
  margin: auto;

  @include flex(space-between , center , column);



  .ParentLoginRecently
  {
    width: 100%;
    height: 30%;
    @include flex(center , flex-start , column)
  }



  .LoginFooter
  {
    width: 80%;
    flex: 0;
    @include flex(space-between , flex-start, column)
  }



}

.DarkParentLoginPage
{
  @extend .ParentLoginPage ;
  background-color: $DarkMoodColor;
}