@import "../../_VariableStyle/VariableStyle";

.ParentLoginPage
{
  width: 100%;
  height: 100vh;
  background-color: #e7eefd;
  margin: auto;

  @include flex(space-between , center , column);

  .RecentlyFooter
  {
    width: 80%;
  }
}

.DarkParentLoginPage
{
  @extend .ParentLoginPage ;
  background-color: $DarkMoodColor;
}