@import "../../_VariableStyle/VariableStyle";


.Links
{
  width: 100%;
  height: 2.8vw;
  z-index: 1000;
  box-sizing: border-box;
  @include margin-padding-Four-property(2.5vw , 0 , 0  , 0 , false);
  @include flex();


  .LogoDiv
  {
    width: 5%;
  }

  .Logo
  {
    font-size: 2.5vw ;
    color: #414141;
  }

  .DarkLogo
  {
    font-size: 1.3vw;
    color: #5860f5;
    cursor: pointer;
    animation: LogoAnimations .3s;
  }

  .LightLogo
  {
    font-size: 1.5vw;
    color: #eecd59;
    cursor: pointer;
    animation: LogoAnimations .3s;
  }

  @keyframes LogoAnimations {
    0%{
      transform: scale(0);
    }
    100%
    {
      transform: scale(1);
    }
  }


  ul
  {
    width: 90%;
    display: flex;
    list-style: none;
    @include flex(flex-start , center , row);
    li
    {
      @include margin-padding-Two-property(0 , 1.8vw);
      .LinkTag
      {

        font: {
          size: 1vw;
          weight: bold;
        };
        color: #4b4b4b;
        text-decoration: none;
      }
    }
  }
}

.DarkLinks
{
  @extend .Links;

  .Logo
{
  color: #b2b2b2;
}
  ul
  {
    li
    {
      .LinkTag
      {
        color: #b2b2b2;
      }
    }
  }

}