@import "../_VariableStyle/VariableStyle";

.aws-btn {
  width: 65%;
  height: 100% !important;

  --slider-transition-duration: 525ms;
  --organic-arrow-thickness: 0.260vw;
  --organic-arrow-border-radius: 1.042vw;
  --organic-arrow-height: 1.042vw;
  --organic-arrow-color: #26456f;
  --control-button-width: 6%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #2d5182;
  --control-bullet-active-color: #26456f;
  --loader-bar-color: transparent;
  --loader-bar-height: 0.313vw;
}

.Slide1
{
  width: 100%;
  height: 100%;
  @include flex();
  .RightItems
  {

    flex: 3;
    height: 100%;
    background-color: #f67ab2;

    @include flex(center , center , row);

    img
    {
      width: 19.792vw;
    }
  }

  .LeftItems
  {
    flex: 2;
    height: 100%;
    background-color: #fd56a2;
    box-sizing: border-box;

    @include margin-padding-one-property(1.7vw , false);
    @include flex(center , flex-start , column);

    h2
    {
      font-size: 1.3vw;
      color: #dcdcdc;
    }
    p
    {
      font-size: .9vw;
      margin-top: .5vw;
      color: #dcdcdc;
    }
    button
    {
      width: 7vw;
      height: 1.7vw;
      outline: none;
      border: none;
      font-size: .7vw;
      color: #2a2a2a;
      @include border-one-property(0);
      @include margin-padding-Two-property(1.7vw , 0)
    }
  }
}

.Slide2
{
  @extend .Slide1;

  .RightItems
  {
    background-color: #81b44b;


  }

  .LeftItems
  {
    background-color: #6b9b37;
  }
}

.Slide3
{
  @extend .Slide1;

  .RightItems
  {
    background-color: #55b0ef;


  }

  .LeftItems
  {
    background-color: #0e98d9;
  }
}

