@import "../_VariableStyle/VariableStyle";

.Footer
{
  width: 100%;
  border-top: 1px solid #cbcaca;
  position: relative;
  box-sizing: border-box;

  @include margin-padding-one-property(.5rem , false);
  //@include margin-padding-Four-property(2.5rem , auto , 0 , auto);
  @include flex(space-around , center ,row);

  .Brand
  {
    font-weight: bold;
    flex: 1;
  }

  .Topics
  {
    flex: 7;
    list-style: none;
    @include flex(flex-start , center , row);
    li
    {
      @include margin-padding-Two-property(0 , 1rem);
    }
  }


  .DownloadServes
  {
    @include flex();

    img
    {
      width: 300px;
    }
  }
}

.DarkFooter
{
  @extend .Footer;
  border-top: 1px solid #2a2a2a;
  color: #b2b2b2;
}