@import "../_VariableStyle/VariableStyle";

.Footer
{
  width: 100%;
  height: 4.5vw;
  border-top: 1px solid #cbcaca;
  position: relative;
  box-sizing: border-box;

  @include margin-padding-one-property(.5vw , false);

  @include flex(space-around , center ,row);

  .Brand
  {
    font-size: .9vw;
    font-weight: bold;
    flex: 1;
  }

  .Topics
  {
    flex: 7;
    list-style: none;
    font-size: .8vw;
    @include flex(flex-start , center , row);
    li
    {
      @include margin-padding-Two-property(0 , .8vw);
    }
  }


  .DownloadServes
  {
    @include flex();

    .App-Store
    {
      margin: 0 .8vw;
      width: 2.5vw;

    }
    .Google-Store
    {
      @extend .App-Store;
      width: 10.5vw;
      border-radius: 0;
    }
  }
}

.DarkFooter
{
  @extend .Footer;
  border-top: 1px solid #2a2a2a;
  color: #b2b2b2;
}